# Airline Fleet Data Cleaning

#### Import packages

In [6]:
import pandas as pd
import numpy as np

#### Read csv file into pandas DataFrame and examine data type and null values

In [7]:
fleet_df = pd.read_csv("fleet_visualization_data_analyst.csv")

In [8]:
fleet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1583 entries, 0 to 1582
Data columns (total 11 columns):
Parent Airline          1583 non-null object
Airline                 1583 non-null object
Aircraft Type           1583 non-null object
Current                 859 non-null float64
Future                  188 non-null float64
Historic                1113 non-null float64
Total                   1484 non-null float64
Orders                  348 non-null float64
Unit Cost               1548 non-null object
Total Cost (Current)    1556 non-null object
Average Age             820 non-null float64
dtypes: float64(6), object(5)
memory usage: 136.1+ KB

#### Format 'Cost' Columns and change data type to handle calculations

In [9]:
fleet_df["Unit Cost"] = fleet_df["Unit Cost"].str.replace('$','').astype(float)
fleet_df["Total Cost (Current)"] = fleet_df["Total Cost (Current)"].str.replace('$','')
fleet_df["Total Cost (Current)"] = fleet_df["Total Cost (Current)"].str.replace(',','').astype(float)

#### Check new format of 'Cost' columns

In [10]:
fleet_df[fleet_df['Aircraft Type'] == 'Boeing 737'].sort_values(by='Unit Cost').head()

,Parent Airline,Airline,Aircraft Type,Current,Future,Historic,Total,Orders,Unit Cost,Total Cost (Current),Average Age
7,Aegean Airlines,Aegean Airlines,Boeing 737,NaN,NaN,17.0,17.0,NaN,74.0,0.0,NaN
1035,Lufthansa,Brussels Airlines,Boeing 737,NaN,NaN,11.0,11.0,NaN,74.0,0.0,NaN
1036,Lufthansa,Eurowings,Boeing 737,2.0,NaN,1.0,3.0,NaN,74.0,148.0,15.7
1037,Lufthansa,Brussels Airlines,Boeing 737,NaN,NaN,11.0,11.0,NaN,74.0,0.0,NaN
1096,Malaysia Airlines,Malaysia Airlines,Boeing 737,56.0,NaN,111.0,167.0,25.0,74.0,4143.0,4.7

#### Sort DataFrame by Aircraft Type and fill in null values for 'Unit Cost'

In [11]:
fleet_df = fleet_df.sort_values(by='Aircraft Type')

In [18]:
fleet_df = fleet_df.reset_index(drop=True)
fleet_df['Unit Cost'] = fleet_df["Unit Cost"].fillna(method='ffill')

#### Fill in all other null values with 0 and check the data

In [13]:
fleet_df = fleet_df.fillna(0)
fleet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1583 entries, 0 to 1582
Data columns (total 11 columns):
Parent Airline          1583 non-null object
Airline                 1583 non-null object
Aircraft Type           1583 non-null object
Current                 1583 non-null float64
Future                  1583 non-null float64
Historic                1583 non-null float64
Total                   1583 non-null float64
Orders                  1583 non-null float64
Unit Cost               1583 non-null float64
Total Cost (Current)    1583 non-null float64
Average Age             1583 non-null float64
dtypes: float64(8), object(3)
memory usage: 136.1+ KB

#### Calculate 'Total Cost (Current)' column and display DataFrame

In [14]:
fleet_df['Total Cost (Current)'] = fleet_df['Current'] * fleet_df['Unit Cost']

In [20]:
fleet_df.head(10)

,Parent Airline,Airline,Aircraft Type,Current,Future,Historic,Total,Orders,Unit Cost,Total Cost (Current),Average Age
0,FedEx Express,FedEx Feeder Fleet,ATR 42-300F/-320F,26.0,0.0,0.0,0.0,0.0,20.0,520.0,0.0
1,Japan Airlines,Japan Air Commuter (60% owned),ATR 42-600,0.0,0.0,0.0,0.0,8.0,20.0,0.0,0.0
2,Royal Air Maroc,Royal Air Maroc Express,ATR 42-600,0.0,0.0,0.0,2.0,0.0,20.0,0.0,0.0
3,Thai Airways,Nok Air,ATR 42/72,2.0,0.0,2.0,4.0,0.0,22.0,44.0,9.5
4,Thai Airways,Thai Airways,ATR 42/72,0.0,0.0,4.0,4.0,0.0,22.0,0.0,0.0
5,IAG,Aer Lingus Regional,ATR 42/72,11.0,0.0,12.0,23.0,0.0,22.0,242.0,4.8
6,IAG,Air Nostrum/Iberia Regional,ATR 42/72,5.0,0.0,14.0,19.0,0.0,22.0,110.0,4.5
7,Hawaiian Airlines,Hawaiian Airlines,ATR 42/72,3.0,0.0,0.0,0.0,0.0,22.0,66.0,0.0
8,Grupo Aeromexico,Aeromexico Express,ATR 42/72,2.0,0.0,0.0,2.0,0.0,22.0,44.0,3.5
9,Air Europa,Air Europa,ATR 42/72,4.0,0.0,6.0,10.0,0.0,22.0,88.0,21.9

#### Write the clean DataFrame to a csv file for use with Tableau

In [16]:
fleet_df.to_csv("clean_fleet_data.csv")